$danger: #e50914;
$input-btn-focus-color: #000;

$input-btn-focus-width: 0rem;
$input-btn-focus-color-opacity: 0;
$input-btn-focus-blur: 0;

$accordion-bg: #333;
$accordion-color: #fff;
$accordion-button-active-bg:  #333;
$accordion-button-active-color: #fff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
